{% extends 'base.html' %}
{% block title %} DEV | prueba{% endblock %}

{% block content %}
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda dolores, earum est excepturi id labore
        molestiae nulla odit porro quaerat repellat sunt, vero. Architecto at commodi culpa dolorem totam vel.
    </div>
    <div>At blanditiis deserunt dolor doloribus et eveniet impedit reiciendis sunt. Ad dicta dolore dolorem ducimus, in
        obcaecati omnis perferendis suscipit. Asperiores consequatur dicta expedita quis reiciendis repellendus totam
        veniam. Esse!
    </div>
    <div>A animi aspernatur assumenda aut, blanditiis corporis deleniti dicta eius explicabo hic itaque necessitatibus
        numquam omnis reiciendis, sit tenetur velit voluptate voluptates? Alias, dolorem ipsam nemo nostrum odit quasi
        quisquam?
    </div>
    <div>Accusantium, alias aperiam architecto dicta dolore, ducimus excepturi harum illo ipsam iusto modi nemo non odit
        officiis quaerat quasi quibusdam, reiciendis repellat saepe sapiente sunt tempora unde velit voluptates
        voluptatibus?
    </div>
    <div>Architecto blanditiis dolorum eveniet ipsa laudantium maxime minima neque, quidem reprehenderit sapiente. Amet
        architecto blanditiis dignissimos earum error, est exercitationem laborum maxime mollitia nam perferendis
        provident quibusdam quisquam, reiciendis similique?
    </div>
{% endblock %}